* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

.navbar {
  height: 72px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0rem 2rem;
  position: relative;
  top: -20px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 130px;
  cursor: pointer;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.nav-links li a {
  text-decoration: none;
  color: inherit;
}

.nav-links li {
  font-size: 1.1rem;
  font-weight: 500;
  color: #425466;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;
}

.nav-links li:hover {
  color: #0a2540;
}

/* underline animation */
.nav-links li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background: #4f8cff;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}
